#facets ul {
	font-size: small;
}

#footer {
	padding-top: 0;
}

#footer img {
	margin-top: 1em;
	float: right;
}

#footer-legal {
	margin-top: 0;
}
#footer p {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

#results h3 {
	display: inline;
	font-size: medium;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#results h3 a {
	color: #669900;
}
#results h3 a .separator {
	color: #dddddd !important;
}

#results p {
   font-size: small;
   margin: 0 0 0 0;
}

#results .links {
	font-size: x-small;
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #666666;
}
#results .links li {
	display: inline;
	padding: 0;
	margin: 0;
}
#results .links li:before {
	content: " - ";
}
#results .links li:first-child:before {
	content: "";
}
#results .links a {
	padding: 0;
}
#results .links .tag {
	font-weight: bold;
	padding: 0px 2px;
}
#results .links .repotag {
   background: #669900;
	color: white;
}
#results .links .tag-devel {
	background: #006699;
	color: #ffffff;
}
#results .links .tag-lang {
	background: #fcefa1;
	color: #000000;
}
#results .links .tag-doc {
	background: #666666;
	color: #ffffff;
}
#results .links .tag-lib {
	background: #666666;
	color: #ffffff;
}
#results .links .url {
	font-weight: inherit;
	color: #006699;
}

#noresults {
	padding: 2em 2em;
}
#noresults-q {
	font-family: monospace;
	font-weight: bold;
}

.result {
	border-top: 1px solid #dddddd;
	padding: 0.2em 1em 0.2em 1em;
}
.result:first-child {
	border-top: none;
}
#results {
	padding-top: 0.2em;
}

#main {
	padding-top: 0;
}

.result em {
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background: #ffff00;
}
.result h3 em {
	background: inherit;
}

p.links {
	margin: 0 0 1em 0;
}

#search .options {
	background: #ffffff;
	border: 1px solid #669900;
	padding: 0;
	font-size: small;
	margin-bottom: 0.3em;
	width: 56em;
	-moz-border-radius: 0 0.5em 0.5em 0;
}
.options > label.options_label {
	display: block;
	float: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	margin-right: 1em;
	min-width: 8em;
	background: #669900;
	color: #ffffff;
	font-weight: bold;
}
#search #q {
	margin-bottom: 0.3em;
	/*width: 51.5em;*/
}
.box {
	font-size: medium;
}
.box #q {
	width: 50%;
	margin: 0.5em 0.5em 0.5em 0.8em;
}
#searchbutton {
	font-size: small;
	-moz-border-radius: 0;
	margin: 0;
}

.box ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.box li {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.box-header {
	border-top: 1px solid #dddddd;
	margin-bottom: 0 !important;
	padding-bottom: 0;
	padding-top: 0.5em;
	display: block;
	vertical-align: baseline;
}

.result:hover {
	background: #f6f6f6;
}

#hits {
 	color: #669900;
}

#paging {
	display: block;
	width: 100%;
	margin: 1em 0 1em 0;
	padding: 0.3em 1em 0.3em 1em;
	font-size: large;
	text-align: center;
	vertical-align: text-bottom;
	font-weight: bold;
	border: 1px solid #dddddd;
	border-left: none;
	border-right: none;
}

#paging span, #paging > a {
	display: block;
	margin-right: 1em;
	padding: 0.2em 0.1em;
	float: left;
	text-align: center;
	vertical-align: baseline;
	line-height: 1.6;
}
#paging span {
	width: 2em;
	border: 1px solid #669900;
	background: #ffffff;
}
#paging #previous_page,
#paging #next_page {
	width: 8em;
	border: 1px solid #dddddd;
	background: inherit;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#paging #previous_page {
	text-align: left;
}
#paging span#previous_page,
#paging span#next_page {
	border-color: #dddddd;
	color: #dddddd;
}
#paging #previous_page:before {
	content: "\00AB\00A0";
}
#paging #next_page {
	text-align: right;
}
#paging #next_page:after {
	content: "\00A0\00BB";
}

#paging #current_page {
	background: #669900;
	color: #ffffff;
}

#paging #current_page em {
	font-weight: bold;
	font-style: inherit;
}
#search  {
	padding-top: 0.5em;
}
fieldset, .content-wrapper .box.navigation > * {
	margin: 0.1em 0.2em 1em 0.2em;
}
fieldset#q-wrapper {
	margin: 0;
}

.package {
	font-family: monospace;
}